.Weather {

}

.Weather > form {

}

.Weather > form input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid;
  margin: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.Weather > form button {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid;
  margin: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: rgb(98, 202, 246);
}

.Weather > form select {
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid;
  margin: 0;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: white;
  margin: .5rem;
  color: rgb(68, 146, 179);
  
}

.Weather-Align {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  /* border: 2px white solid; */
}

.Weather-Row {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
}